RESEND_KEY=
JWT_SECRET=
FRONTEND_URL=
VITE_GOOGLE_PLACES_API_KEY=
MONGODB_URI=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
GOOGLE_PLACES_API_KEY=
GOOGLE_PLACE_ID=
INSTAGRAM_USERNAME=
INSTAGRAM_TARGET_USERNAME=
SMTP_PASS=
SMTP_FROM=karlimolax@gmail.com
SMTP_USER=karlimolax@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
