RESEND_KEY=
EMAIL_FROM=Kar Limo LAX <noreply@karlimolax.com>
JWT_SECRET=
FRONTEND_URL=
VITE_GOOGLE_PLACES_API_KEY=
MONGODB_URI=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
GOOGLE_PLACES_API_KEY=
GOOGLE_PLACE_ID=
INSTAGRAM_USERNAME=
INSTAGRAM_TARGET_USERNAME=
